@charset "UTF-8";

/* Versão Mobile First */ 

* {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 1.3em;
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
}


 html {
   height: 100vh;
}


body {
   background: black url(../imagens/back-phone.jpg) no-repeat;
   background-size: cover;
   background-position: center center;

}

main {
   background-color: rgba(255, 255, 255, 0.708);
   width: 90vw;
   margin: auto;
   border-radius: 10px;
   padding: 10px;

}

h1  {
   text-align: center;
   color: white;
   font-size: 2em;
   text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.493);
}

img {
   display: block;
   margin: auto;
}

img#cllr {display: block}
img#tab {display: none;}
img#print {display: none;}
img#pc {display: none;}
img#tv {display: none;}

/* todas as demais mídias */

/* typical device breakingpoints 

pequenas telas: até 600px
celular: mais de 600px
tablet: mais de 768px
desktop: mais de 992px 
Grandes telas:mais de  1200px
*/



@media print {

}

@media screen and (min-width: 500 ) and (max-width: 992) { /*TABLET*/
   body{
      background-image: url(../imagens/back-tablet.jpg);
   }
img#cllr {display: none;}
img#tab {display: block;}
img#print {display: none;}
img#pc {display: none;}
img#tv {display: none;}
}

@media screen and (min-width: 600px) and (max-width: 1200){ /*DESKTOP*/ 
   body{
      background-image: url(../imagens/back-pc.jpg);
   }
img#cllr {display: none;}
img#tab {display: none;}
img#print {display: none;}
img#pc {display: block;}
img#tv {display: none;}
}


@media screen and (min-width: 700) { /*GRANDES TELAS*/
   body{
      background-image: url(../imagens/back-tv.jpg);
   }
img#cllr {display: none;}
img#tab {display: none;}
img#print {display: none;}
img#pc {display: none;}
img#tv {display: block;}
}