@charset "UTF-8";

/* 
typical device breakingpoints 
pequenas telas: até 600px
celular: mais de 600px
tablet: mais de 768px
desktop: mais de 992px 
Grandes telas:mais de  1200px
*/


*
{
   margin: 0;
   padding: 0;
   box-sizing: border-box;

}

body
{
   position: relative;
   background-color: black;
   color: wheat;
   font-family: Arial, Helvetica, sans-serif;
}
section
{
   display: flex;
   flex-direction: column;
}

.card
{

   display: flexbox;
   
   background-color: coral;
   margin: 10px;
}