@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');


*{
   padding: 0px;
   margin: 0px;
   box-sizing: border-box;
   font-family: Outfit;
   
}


body{
   height: max-content;
   background: rgb(95, 95, 95) url(../images/fuji-gr.jpg ) no-repeat fixed;
   overflow-x: hidden;
}

header{
   position: fixed;
   top: 0;
   left: 0;
   width: 100vw;
}

section{
   margin: 70px auto ;
   padding: 30px;
   background-color: rgba(255, 255, 255, 0.056);
   max-width: 600px;
   backdrop-filter:sepia(90%) ;
}

a {
   color: white;
   text-decoration: none;
   transition: .3s;
}

a:hover{
   opacity: 0.7;
}

.logo{
   font-size: 24px;
   text-transform: uppercase;
   letter-spacing: 4px;
}

nav{
   display: flex;
   justify-content: space-around;
   align-items: center;
   background-color: #23232e;
   height: 8vh;
   
}

.nav-list{
   list-style: none;
   display: flex;
}

.nav-list li {
   letter-spacing: 3px;
   margin-left: 32px;
}

#btn{
   cursor: pointer;
   display: none;
}

.mobile-menu div {
   width: 32px;
   height: 2px;
   background-color: white;
   margin: 8px;
}

@media (max-width: 999px){
   .nav-list{
      position: fixed;
      top: 8vh;
      right: 0;
      width: 50vw;
      height: 92vh;
      background: #23232e;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      transform: translate(100%);
      transition: .3s;
   }

   #btn{
      display: block;
   }

   .nav-list li {
      margin-left: 0px;
     
   }

   .mobile-menu{
      display: block;
   }

}

.active {
   transform: translateX(0);
   opacity: 1;
   pointer-events: all;
   transition: .3s;
}
.active:only-child{
   pointer-events: all;
   transform: translateX(0);
   opacity: 1;
}

.btn{
   background-color: #23232e;
   border: none;
   color: white;
   transition: .3s;
}

.btn:hover{
   transition: .3s;
   color: #23232e;
   background-color: white;
}
