@charset "UTF-8";

:root
{
   --azul: #0772eb;
   --preto:#131416;
   --Preto_Claro:#313648;
}

*
{
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
}

div.conteudo
{
   width: auto;
}

iframe
{
   height: 250px;
   width: auto;
}

a
{
   display: flex;
   flex-direction: row;
   align-items: center;
   align-content: center;
   background-color: var(--azul);
   border-radius: 15px;
   width: min-content;
   margin: 10px auto;
   height: 30px;
}

a:hover
{
   box-shadow: inset 0px 0px 10px black;
}

.botao
{
   font-size: medium;
   margin: 0px 10px 0px 0px;
}
