@charset "UTF-8";

:root
{
   --azul: #0772eb;
   --preto:#131416;
   --Preto_Claro:#313648;
}

*
{
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
}

body
{
   background-color: var(--preto);
   color: white;
   text-align: center;
   font-family: Arial, Helvetica, sans-serif;
}

h1.title
{
   margin-top:20px;
}

h1
{
   margin-bottom: 20px;
   text-transform: uppercase;
}

section
{
   margin: auto;
   display: flex;
   flex-direction: column;
   max-width: 600px;
   align-content: center;
}

div.conteudos
{
   display: block;
   margin: 30px auto ;
   background-color: var(--Preto_Claro);
   width: 200px;
   border-radius: 20px;
   padding-top: 20px;
}


div.conteudos:hover
{
   background-color: var(--azul);
   box-shadow: 0px 0px 20px var(--azul);
   transition: .5s;

}
a
{
   text-decoration: none;
   color: white;
}

p
{
   text-align: center;
   font-size: small;
   margin: 10px;
}

img
{
   border-radius:10px;
   height: 100px;
   width: 100px;
}
